EmailSend/Service References/EmailServRef/Mail4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmailService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmailService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52941/Mail.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:complexType name="ArrayOfFileAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileAttachment" nillable="true" type="tns:FileAttachment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileAttachment" nillable="true" type="tns:ArrayOfFileAttachment" />
  <xs:complexType name="FileAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileContentBase64" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="Info" nillable="true" type="q1:FileInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileAttachment" nillable="true" type="tns:FileAttachment" />
</xs:schema>